! Colorscheme

#define base00 #1B2B34
#define base01 #343D46
#define base02 #4F5B66
#define base03 #65737E
#define base04 #A7ADBA
#define base05 #C0C5CE
#define base06 #CDD3DE
#define base07 #D8DEE9
#define base08 #EC5f67
#define base09 #F99157
#define base0A #FAC863
#define base0B #99C794
#define base0C #5FB3B3
#define base0D #6699CC
#define base0E #C594C5
#define base0F #AB7967

URxvt*foreground:   base05
URxvt*background:   base00
URxvt*cursorColor:  base05

URxvt*color0:       base00
URxvt*color1:       base08
URxvt*color2:       base0B
URxvt*color3:       base0A
URxvt*color4:       base0D
URxvt*color5:       base0E
URxvt*color6:       base0C
URxvt*color7:       base05

URxvt*color8:       base03
URxvt*color9:       base08
URxvt*color10:      base0B
URxvt*color11:      base0A
URxvt*color12:      base0D
URxvt*color13:      base0E
URxvt*color14:      base0C
URxvt*color15:      base07
URxvt*color16:      base09
URxvt*color17:      base0F
URxvt*color18:      base01
URxvt*color19:      base02
URxvt*color20:      base04
URxvt*color21:      base06

! URXVT

URxvt.font:			xft:Hack:pixelsize=12
URxvt.boldFont:			xft:Hack:pixelsize=12:bold
URxvt.italicFont:		xft:Hack:pixelsize=12:italic
URxvt.boldItalicFont:		xft:Hack:pixelsize=12:bold:italic
URxvt*borderless:		1
URxvt*scrollBar:		false
URxvt*saveLines:		2000
URxvt.transparent:		true
URxvt.shading:			20
URxvt*fading:			50
URxvt.perl-ext:			default,url-select,clipboard,resize-font
URxvt.keysym.M-u:		perl:url-select:select_next
URxvt.url-select.autocopy:  	true
URxvt.url-select.button:    	2
URxvt.url-select.launcher:  	firefox
URxvt.url-select.underline: 	true
URxvt.keysym.F11:		perl:fullscreen:switch
URxvt.keysym.Shift-Control-V: 	perl:clipboard:paste
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.resize-font.smaller:	C-Down
URxvt.resize-font.bigger:	C-Up
URxvt.iso14755: 		false
URxvt.iso14755_52: 		false
URxvt.intensityStyles:		false
URxvt.letterspace:		2

! XFT

Xft.antialias:	1
Xft.autohint:	0
Xft.dpi:	96
Xft.hinting:	1
Xft.hintstyle:	hintfull
Xft.lcdfilter:	lcddefault
Xft.rgba:	rgb

! Cursor
Xcursor.theme: Paper
