"*":
  "atom-beautify":
    general:
      _analyticsUserId: ""
  core:
    autoHideMenuBar: true
    projectHome: "/home/alistair/Code"
    themes: [
      "one-dark-ui"
      "oceanic-next"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 12
    invisibles: {}
  "exception-reporting":
    userId: ""
  welcome:
    showOnStartup: false
