# Ignore everything in config
config/*

# except these
!config/compton/
!config/dunst/
!config/gtk-3.0/
!config/i3/
!config/i3blocks/
!config/nvim/
!config/redshift/
!config/rofi/
!config/termite/
!config/redshift.conf

# gtk-3.0
config/gtk-3.0/*
!config/gtk-3.0/settings.ini

# nvim
config/nvim/*
!config/nvim/init.vim

# irssi
irssi/*
!irssi/weed.theme
!irssi/scripts/*

vimperator/info
