*.foreground:   #D8DEE9
*.background:   #2E3440
*.cursorColor:  #D8DEE9
*fading: 35
*fadeColor: #4C566A

*.color0: #3B4252
*.color1: #BF616A
*.color2: #A3BE8C
*.color3: #EBCB8B
*.color4: #81A1C1
*.color5: #B48EAD
*.color6: #88C0D0
*.color7: #E5E9F0
*.color8: #4C566A
*.color9: #BF616A
*.color10: #A3BE8C
*.color11: #EBCB8B
*.color12: #81A1C1
*.color13: #B48EAD
*.color14: #8FBCBB
*.color15: #ECEFF4

st.font: Hack:pixelsize=12:antialias=true:autohint=true;
st.borderpx: 10
st.bold_font: 0

Xft.antialias: 1
Xft.autohint: true
Xft.hinting: true
Xft.hintstyle: hintmedium
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

Xcursor.size: 16

! rofi.modi: drun
! rofi.font: Hack 12
! rofi.width: 50
! rofi.lines: 5
! rofi.columns: 1
! rofi.bw: 0
! rofi.padding: 50
! rofi.separator-style: none
! rofi.hide-scrollbar: true

!                  bg       fg       altbg    hlbg     hlfg
! rofi.color-normal: #3B4252, #E5E9F0, #3B4252, #4C566A, #ECEFF4
! rofi.color-urgent: #3B4252, #E5E9F0, #3B4252, #4C566A, #ECEFF4
! rofi.color-active: #3B4252, #E5E9F0, #3B4252, #4C566A, #ECEFF4
! rofi.color-window: #3B4252, #E5E9F0
